<div>
<jce-user-form (userAddedEvent)="addUser($event)"></jce-user-form>
<h2>Userss List (get from API Cpanel):</h2>
<jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul>
    <li *ngFor = "let user of users" class="list-group-item" [class.active]="currentUser==user" (click)="select(user)">
     <jce-user [user] = "user" (deleteEvent)="deleteUser($event)" (editEvent)="editUser($event)"> </jce-user>
    </li>
  </ul>
</div>






<!--table class= " table table-striped table-bordered btn-group-justified btn-xs">
<tr><th>Name</th>
    <th>Email</th></tr>

<tr *ngFor = "let user of users" [class.active]="currentUser==user">
  <td>{{user.name}}</td>
  <td>{{user.email}}</td>
</tr></table-->