<div>
  <h2>List of invoices:</h2>	
<jce-spinner [visible]="isLoading"></jce-spinner>
  <ul>
    <li *ngFor="let invoice of invoices" class="list-group-item" (click)="select(invoice)" [class.active]="currentInvoice == invoice">
      <!--jce-invoice [invoice]="invoice"></jce-invoice-->
      Product Name: {{invoice.name}} , Amount: {{invoice.amount}}
    </li>

  </ul>

</div>
