	<h2>Add Invoice</h2>
	<form (ngSubmit) = "onSubmit(f)" #f= "ngForm">                    
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text"  class="form-control" id="name" name= "name" [(ngModel)]= "invoice.name">
    </div>

     <div *ngIf = "!fillName"><p>Please fill Product name</p></div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number"  class="form-control" id="amount" name="amount" [(ngModel)]= "invoice.amount"  placeholder="1000" value="1000" min=0>
      </div>

     <div *ngIf = "!fillAmount"><p>Please fill Product ampunt</p></div>

	<button type="submit" class="btn btn-primary" >Add Invoice</button>
	</form>

