	<h2>Add Post</h2>
	<form (ngSubmit) = "onSubmit(f)" #f= "ngForm">                     
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" required class="form-control" id="title" name= "title" [(ngModel)]= "post.title">
    </div>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" required class="form-control" id="content" name="content" [(ngModel)]= "post.content">
    </div>

        <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" required class="form-control" id="name" name="name" [(ngModel)]= "post.user.name">
    </div>

        <div class="form-group">
      <label for="email">User email</label>
      <input type="text" required class="form-control" id="email" name="email" [(ngModel)]= "post.user.email">
    </div>

	<button type="submit" class="btn btn-primary" >Add Post</button>
	</form>