<h1>
  {{title}}
</h1>
	<nav>
	<a routerLink = "/invoiceForm">Invoice Form</a> |
	<a routerLink = "/invoicesComponent">Invoices</a> 
	<!--a routerLink = "/users">Users</a> |
	<a routerLink = "/posts">Posts</a> |
  <a routerLink = "/hardCoded">Hard Coded</a-->
	</nav>
	<router-outlet></router-outlet>