<p>Hard Coded List:</p>
<div>
  <ul>
    <li *ngFor="let hard of hards" class="list-group-item" (click)="select(hard)" [class.active]="currentHard == hard">
      <jce-hard-coded [hard]="hard"></jce-hard-coded>
    </li>

  </ul>
</div>