
<span *ngIf = "culomn == 2">{{product.pname}}</span> 
<span *ngIf = "culomn == 1">{{product.pid}}</span>  
<span *ngIf = "culomn == 3">{{product.cost}}</span>  
<span *ngIf = "culomn == 4">{{product.categoryId}}</span> 
<button  *ngIf = "culomn == 5" type="button" class="btn btn-danger" (click) = "sendDelete()" >Delete</button>


